@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

@import "../parciales/tipografia";
@import "../parciales/responsive";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: white;
}

// Seccion principal home

.home-principal {
    display: flex;
    overflow: hidden;
    position: relative;
    background-image: url(../imagenes/color-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    @include movil{
    background-image: url(../imagenes/background-movil.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    }

    &__tag {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        height: auto;
        top: 10rem;
        padding-left: 3.5rem;
        
    span{
        font-size: 1.5rem;
        padding-left: 1rem;
        @include movil{
            display: none;
        }
        @include tablet{
            display: none;
        }
        @include desktop{
            display: none;
        }
    }
        & h2 {
            color: #6F3BED;
            font-size: 1.5rem;
            font-weight: 700;
            @include movil{
                font-size: 1.7rem;
            }
        }
    }

}


.cruz-svg {
    position: relative;
    top: 12rem;

    @include movil{
        display: none;
    }
}

.section-center {
    position: absolute;
    overflow: hidden;
    top: 18rem;
}

.section-center h1 {
    font-size: 4.5rem;

    @include tablet {
        font-size: 3rem;
        padding-right: 5rem;
    }
    @include movil{
        font-size: 2.5rem;
        padding-right: 1rem;
    }
//     } 
//     @include desktop{
//       font-size: 4.2rem;
//   }

}

.section-center span {
    color: #5CFFC4;
    font-weight: 900;
}

.home-cta {
    padding: 5rem 0rem;
}

// Seccion servicios home

.home-servicios {
    background-color: black;
    height: auto;
    overflow: hidden;
    align-items: center;
    justify-items: center;

    &__tag--title{
        color: #5CFFC4;
        font-size: 1.375rem;
        font-weight: 700;
    }

    .plane-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        @include movil {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }

    .number-item {
        color: #5CFFC4;
        font-size: 1.25rem;
    }

    .item-title {
        font-size: 1.875rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .item-desc {
        font-size: 1.25rem;
        font-weight: 100;
        line-height: 2rem;
    }
}


// Proyectos home

.home-proyectos {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(../imagenes/background-servicios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &__tag--title{
            color: #5CFFC4;
            font-size: 1.375rem;
            font-weight: 700;
    }
}


.proyecto-decor {
    display: flex;
    justify-content: flex-end;
    @include movil{
        display: none;
    }
}


.swiper {
    width: 100%;
    height: 50%;
    top: 3rem;
    @include tablet{
        top: 1rem;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.servicios-anchor {
    position: relative;
    top: 7rem;
    @include tablet{
        top: 7rem;
    }

    & a {
        text-decoration: none;
        color: #5CFFC4;
        font-size: 1.25rem;
        font-weight: 700;
        border-bottom: solid 3px;
        border-radius: 1px;
        padding-bottom: 4px;

    }
}


.contacto-home {
    padding-left: 3rem;
    overflow: hidden;
    h2 {
        color: #6F3BED;
        font-size: 1.375rem;
        font-weight: 700; 
    
    span{
        color: #656D8E;
        font-weight: 400;
        @include movil{
            display: none
        }
    }     
 }
}
    @include tablet {
        padding: 0.5rem 3rem;

    }


.contacto {
    height: auto;
    background-color: white;
}

.contacto-desc h3 {
    color: black;
    font-size: 1.375rem;
    font-weight: 100;
}


.email-svg {
    margin: 2rem;
}


.email-contacto {
    color: #6F3BED;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 3.75rem;
    padding: 1rem;
    overflow: hidden;

    @include movil {
        font-size: 1.5rem;
        font-weight: 900;
        padding: 0;
        margin-top: 1rem;
    }
}

.footer-surco {
    background-color: black;
    height: 100px;

    &__copy {
        color: white;
        font-weight: 400;
        @include tablet{
            font-size: 0.8rem;
        }
        @include movil{
            display: none;   
        }   
    }
}

.social-media {
    display: flex;
    padding-right: 1rem;
    margin: 1rem;
}
