@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');


.section-nosotros{
    background-color: black;
    background-image: url(../proyecto-final/imagenes/equipo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &__title {
        position: relative;
        top: 10rem;
        padding: 3rem;
        h2{
            font-size: 1.5rem;
            font-weight: 700;
            border-bottom: 3px solid white;
        }
    }
}
.description{
    background-color: black;
}
.team-cards{
    display: flex;
    justify-content: center;
    background-color: black;  
    &__desc{
        background-color: black;
        height: 15rem;
        h3{
            font-size: 1.25rem;
            line-height: 3rem;
            color: #5CFFC4;
            font-weight: 200;
        }
    }
}
