@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body {
    background-color: rgb(255, 255, 255);
}


.card-template {
    position: relative;
    margin-top: 12rem;
    height: 50rem;


    &__item{
        background-color: #C1C5DB;
        color: #6F3BED;
        font-size: 1rem;
    

    &--1 {
        background-image: url(../imagenes/javier.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 3rem;
        height: 45rem;
    }
    &--2 {
        background-image: url(../imagenes/debra.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 3rem;
        height: 45rem;
    }    
    &--3 {
        background-image: url(../imagenes/facundo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 3rem;
        height: 45rem;
    }
    }

} 
.btn {
    background-color: #6F3BED;
    border: none;
}